# local package
-e .

# pip packages
aiohttp==3.8.4
bitmath==1.3.3.1
brotli==1.0.9
brotlipy==0.7.0
cookiecutter==2.1.1
einops==0.6.1
filetype==1.2.0
future==0.18.3
hydra-colorlog==1.2.0
jupyter==1.0.0
jupyter-contrib-nbextensions==0.5.1
kornia==0.6.12
lazydocs==0.4.8
lightly==1.3.2
lightning-bolts==0.6.0.post1
livelossplot==0.5.5
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
networkx==3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
optuna==3.1.1
pillow-simd==9.0.0.post1
pip-chill==1.0.3
plotly==5.14.1
pyjsparser==2.7.1
pyopenssl==23.0.0
pyqt5-sip==12.11.0
pysmartdl==1.3.4
pysocks==1.7.1
pytorch-lightning-bolts==0.3.2.post1
rich==13.3.4
scikit-learn==1.2.2
semver==2.13.0
sip==6.6.2
src==0.1.0
sympy==1.11.1
tensorboardx==2.6
tifffile==2023.4.12
timm==0.9.1
transformers==4.29.1
triton==2.0.0
tzlocal==5.0.1
wandb==0.15.0